.college_container {
    height: 400px;
    background-color: #1B243C;
    width: 300px;
    margin: 15px;
    text-transform: uppercase;
}

.college_name {
    color: #FACD51;
    font-size: 19px;
    text-align: center;
    padding: 10px;
}

.divider {
    margin: 0;
    color: #35383F;
}

.image_container {
    text-align: center;
    height: 200px;
}
img {
    display: inline-block;
    height: 200px;
    width: 200px;
}

.info_container {
    color: #FACD51;
    width: 300px;
    height: auto;
    padding: 12px 12px 5px 20px;
}

.icontainer {
    width: 75px;
    margin-bottom: 5px;
    display: inline-block;
}

.button_container {
    /* display: inline-block; */
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    width: 300px;
    /* text-align: center; */
}
.button {
    margin: 0 10px;
    color: white;
    background-color: #3F51B5;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 30px 30px 0 30px;
    width: 120px;
}